<div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
       <div class="panel-heading">
          <div class="panel-title">Sign Up</div>
          <div style="float:right; font-size: 85%; position: relative; top:-10px"><%= link_to "Sign In", new_user_session_path %></a></div>
       </div>
       <div class="panel-body" >
          <%= form_for(resource, as: resource_name, :id=>"signupform", url: registration_path(resource_name), html: {class: "form-horizontal"}) do |f| %>
            <div class="flash alert-warning" >
            <%= devise_error_messages! %>
            <% flash.each do |key, value| %>
              <% if(value != "Signed out successfully.") %>
                <div class="flash alert alert-warning <%= key %>"><%= value %></div>
              <% end%>
            <% end %>
          </div>

             
             <div class="form-group">
                <label for="email" class="col-md-3 control-label">Email</label>
                <div class="col-md-9">
                   
                   <%= f.email_field :email, required: false, autofocus: true, :class=>"form-control " , :placeholder=>"Email Address"%>
                </div>
             </div>
             <div class="form-group">
                <label for="firstname" class="col-md-3 control-label">First Name</label>
                <div class="col-md-9">
                   <%= f.text_field :first_name, required: false, autofocus: true, :class=>"form-control " , :placeholder=>"First Name"%>
                </div>
             </div>
             <div class="form-group">
                <label for="secondname" class="col-md-3 control-label">Second Name</label>
                <div class="col-md-9">
                   <%= f.text_field :second_name, required: false, autofocus: true, :class=>"form-control " , :placeholder=>"Second Name"%>
                </div>
             </div>
             <div class="form-group">
                <label for="password" class="col-md-3 control-label">Password</label>
                <div class="col-md-9">
                   <%= f.password_field :password, required: false, :class=>"form-control ", :placeholder=>"password"  %>
                </div>
             </div>
             <div class="form-group">
                <!-- Button -->                                       
                <div class="col-md-offset-3 col-md-9">
                   <button id="btn-signup" type="submit" class="btn btn-info event_buy_btn lc_js_link login"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
                   <span style="margin-left:8px;">or</span>  
                </div>
             </div>
             <div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">
                <!-- <div class="col-md-offset-3 col-md-9"> -->
                   <!-- <button id="btn-fbsignup" type="button" class="btn btn-primary event_buy_btn lc_js_link login"><i class="icon-facebook "></i>   Sign Up with Facebook</button> -->

                  <div class="col-sm-12 controls">
                   
                    <a id="btn-fblogin" href="/auth/twitter" class="btn btn-primary event_buy_btn lc_js_link facebook_login">Sign Up with Twitter</a>
                    
                    <a id="btn-fblogin" href="/auth/facebook" class="btn btn-primary event_buy_btn lc_js_link facebook_login">Sign Up with Facebook</a>
                  </div>
                 
              <!-- </div>  -->
                </div>
             </div>
            <%end %> 
       </div>
    </div>
 </div>

 <style type="text/css">
   h2{
    color: black;
   }
 </style>