<div class="form-group">
    <%= link_to 'New Rent', new_rent_path, class: "btn btn-primary" %>
    <%= link_to 'Brand Chart', chart_rents_path(type: "brand"), class: "btn btn-primary" %>
    <%= link_to 'Model Chart', chart_rents_path(type: "model"), class: "btn btn-primary" %>
    <%= link_to 'Date of DB Chart', chart_rents_path(type: "date_of_db"), class: "btn btn-primary" %>
    <%#= link_to 'Patente Chart', chart_rents_path(type: "patente"), class: "btn btn-primary" %>
    <%= link_to 'Typo Chart', chart_rents_path(type: "typo"), class: "btn btn-primary" %>
    <%= link_to 'DV_Patente Chart', chart_rents_path(type: "db_patente"), class: "btn btn-primary" %>
    <%= link_to 'Date ult trans Chart', chart_rents_path(type: "date_ult_trans"), class: "btn btn-primary" %>
    <%= link_to 'Color Chart', chart_rents_path(type: "color"), class: "btn btn-primary" %>
    <%= link_to 'Rest Color Chart', chart_rents_path(type: "rest_color"), class: "btn btn-primary" %>
    <%#= link_to 'Ano Fab_data Chart', chart_rents_path(type: "ano_fab"), class: "btn btn-primary" %>
    <%= link_to 'Chasis Chart', chart_rents_path(type: "chasis"), class: "btn btn-primary" %>
    <%= link_to 'Numero motor Chart', chart_rents_path(type: "numero_motor"), class: "btn btn-primary" %>
    <%= link_to 'DV Chart', chart_rents_path(type: "dv"), class: "btn btn-primary" %>
    <%= link_to 'Name Chart', chart_rents_path(type: "first_name"), class: "btn btn-primary" %>
    <%#= link_to 'Fines Chart', chart_rents_path(type: "fines"), class: "btn btn-primary" %>
  </div>
<!--Load the AJAX API-->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyAvuPSxdugPS2FJQibo-i78wVZHWgmKemk"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    // Load google charts
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart and set the chart values
    function drawChart() {
      var data = google.visualization.arrayToDataTable(<%=raw @data %>);
      // Optional; add a title and set the width and height of the chart
      var options = {'title':'<%= params[:type] %> Database', 'width':800, 'height':600};
      // Display the chart inside the <div> element with id="chart_div"
      var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
</script>



<div class="row">
  <center><div id="chart_div"></div>
</center>
  
</div>