<div class="form-group">
    <%= link_to 'New Rent', new_rent_path, class: "btn btn-primary" %>
    <%= link_to 'Brand Chart', chart_rents_path(type: "brand"), class: "btn btn-primary" %>
    <%= link_to 'Model Chart', chart_rents_path(type: "model"), class: "btn btn-primary" %>
    <%= link_to 'Date of DB Chart', chart_rents_path(type: "date_of_db"), class: "btn btn-primary" %>
    <%#= link_to 'Patente Chart', chart_rents_path(type: "patente"), class: "btn btn-primary" %>
    <%= link_to 'Typo Chart', chart_rents_path(type: "typo"), class: "btn btn-primary" %>
    <%= link_to 'DV_Patente Chart', chart_rents_path(type: "db_patente"), class: "btn btn-primary" %>
    <%= link_to 'Date ult trans Chart', chart_rents_path(type: "date_ult_trans"), class: "btn btn-primary" %>
    <%= link_to 'Color Chart', chart_rents_path(type: "color"), class: "btn btn-primary" %>
    <%= link_to 'Rest Color Chart', chart_rents_path(type: "rest_color"), class: "btn btn-primary" %>
    <%#= link_to 'Ano Fab_data Chart', chart_rents_path(type: "ano_fab"), class: "btn btn-primary" %>
    <%= link_to 'Chasis Chart', chart_rents_path(type: "chasis"), class: "btn btn-primary" %>
    <%= link_to 'Numero motor Chart', chart_rents_path(type: "numero_motor"), class: "btn btn-primary" %>
    <%= link_to 'DV Chart', chart_rents_path(type: "dv"), class: "btn btn-primary" %>
    <%= link_to 'Name Chart', chart_rents_path(type: "first_name"), class: "btn btn-primary" %>
    <%#= link_to 'Fines Chart', chart_rents_path(type: "fines"), class: "btn btn-primary" %>
  </div>
      
<center>
  <%= form_tag(rents_path, :method => "get", class: "form-inline") do %>
  <div class="form-group mb-2">
    <%= text_field_tag :name, params[:name], class: "form-control" , placeholder: "Search"%>
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <%= text_field_tag :brand, params[:brand], class: "form-control" , placeholder: "Brand"%>
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <%= text_field_tag :date_of_db, params[:date_of_db], class: "form-control" , placeholder: "Date of db"%>
  </div>
  <button type="submit" class="btn btn-primary mb-2">Search</button>
<% end %>
</center>
<table class="table">
  <thead>
    <tr>
      <th>Patente</th>
      <th>Dv_patente</th>
      <th>Brand</th>
      <th>Model</th>
      <th>Tipo</th>
      <th>Date_ult_trans</th>
      <th>Created At</th>
      <th>Color</th>
      <th>Rest_color</th>
      <th>Ano_fab</th>
      <th>Chasis</th>
      <th>Numero_motor</th>
      <th>Date Of db</th>   
      <th>Rut</th>
      <th>Dv</th>
      <th>name</th>
      <th>Fines</th>
    
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rents.each do |rent| %>
      <tr>
        <td><%= rent.patente %></td>
        <td><%= rent.dv_patente %></td>
        <td><%= rent.brand %></td>
        <td><%= rent.model %></td>
        <td><%= rent.tipo %></td>
        <td><%= rent.date_ult_trans %></td>
        <td><%= rent.created_at %></td>
        <td><%= rent.color %></td>
        <td><%= rent.rest_color %></td>
        <td><%= rent.ano_fab %></td>
        <td><%= rent.chasis %></td>
        <td><%= rent.numero_motor %></td>
        <td><%= rent.date_of_db %></td>
        <td><%= rent.rut %></td>
        <td><%= rent.dv %></td>
        <td><%= rent.first_name %></td>
        <td><%= rent.fines %></td>
        
        <td><%= link_to 'Show', rent %></td>
        <td><%= link_to 'Edit', edit_rent_path(rent) %></td>
        <td><%= link_to 'Destroy', rent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @rents %>
    </div>
    <%= will_paginate @rents, :container => false %>
  </div>

<br>

