<!DOCTYPE html>
<html>
  <head>
    <title>CombiledRnv</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Database</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>             
    			  <% if user_signed_in? %>
    			   <li><%= current_user.email %>
    			      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    			   </li>
    			  <% else %>
    			   <li> <%= link_to "Sign up", new_user_registration_path %></li>
    			   <li> <%= link_to "sign in", new_user_session_path %></li>
    			  <% end %>              
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="main-body">
    	<p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="form-group">
        <%= link_to 'New Rent', new_rent_path, class: "btn btn-primary" %>
        <%= link_to 'Brand Chart', chart_rents_path(type: "brand"), class: "btn btn-primary" %>
        <%= link_to 'Model Chart', chart_rents_path(type: "model"), class: "btn btn-primary" %>
        <%= link_to 'Date of DB Chart', chart_rents_path(type: "date_of_db"), class: "btn btn-primary" %>
        <%#= link_to 'Patente Chart', chart_rents_path(type: "patente"), class: "btn btn-primary" %>
        <%= link_to 'Typo Chart', chart_rents_path(type: "typo"), class: "btn btn-primary" %>
        <%= link_to 'DV_Patente Chart', chart_rents_path(type: "db_patente"), class: "btn btn-primary" %>
        <%= link_to 'Date ult trans Chart', chart_rents_path(type: "date_ult_trans"), class: "btn btn-primary" %>
        <%= link_to 'Color Chart', chart_rents_path(type: "color"), class: "btn btn-primary" %>
        <%= link_to 'Rest Color Chart', chart_rents_path(type: "rest_color"), class: "btn btn-primary" %>
        <%#= link_to 'Ano Fab_data Chart', chart_rents_path(type: "ano_fab"), class: "btn btn-primary" %>
        <%= link_to 'Chasis Chart', chart_rents_path(type: "chasis"), class: "btn btn-primary" %>
        <%= link_to 'Numero motor Chart', chart_rents_path(type: "numero_motor"), class: "btn btn-primary" %>
        <%= link_to 'DV Chart', chart_rents_path(type: "dv"), class: "btn btn-primary" %>
        <%= link_to 'Name Chart', chart_rents_path(type: "first_name"), class: "btn btn-primary" %>
        <%#= link_to 'Fines Chart', chart_rents_path(type: "fines"), class: "btn btn-primary" %>
      </div>
    <%= yield %>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>
  </body>
</html>
